{% extends 'base.html' %} {% load static %} {% block content %}
<header>
  <h1>{{ projectgroup.name }} Projects</h1>
  {% if projectgroup.user == request.user %}
  <div class="project-group-actions">
    <a href="{% url 'projectgroup-update' projectgroup.pk %}" class="btn"
      >Update</a
    >
    <a href="{% url 'projectgroup-delete' projectgroup.pk %}" class="btn"
      >Delete</a
    >
  </div>
  {% endif %}
  <hr />
</header>
<section class="project-container">
  <div class="project-details"></div>
  <p>Here is your lists of projects for this group!</p>
</section>

{% endblock %}
